{{!--

##############################################
### template created for partner: thewhoot ###
##############################################

###############################################################
### template website url path: https://www.thewhoot.com.au/ ###
###############################################################

### full list: https://git.corp.yahoo.com/aunz-webdev/gemini-native-templates ###
### text within {{!-- --}} will not be included in compiled template ###

############################
### click out / exit url ###
############################

{{clickUrl}}

###########################
### primary ad headline ###
###########################

{{headline}}

########################
### primary ad image ###
########################

{{> gemini/image }}

##########################
### ad content summary ###
##########################

{{#if summary}}
    {{summary}}
{{/if}}

#######################
### ad sponsored by ###
#######################

{{> gemini/sponsored color='#999' size='13px' }}


--}}


<!-- Yahoo! Gemini -->
<a class="_blank pt-cv-href-thumbnail pt-cv-thumb-default" href="{{clickUrl}}" target="_blank" title="{{headline}}">
    <img alt="How To Keep Avocado From Turning Brown" class="pt-cv-thumbnail img-none" height="365" sizes="(max-width: 546px) 100vw, 546px" src="http://cdn.thewhoot.com.au/wp-content/uploads/2015/07/How-To-Keep-Avocado-From-Turning-Brown--546x365.jpg" srcset="http://cdn.thewhoot.com.au/wp-content/uploads/2015/07/How-To-Keep-Avocado-From-Turning-Brown--546x365.jpg 546w, http://cdn.thewhoot.com.au/wp-content/uploads/2015/07/How-To-Keep-Avocado-From-Turning-Brown--300x200.jpg 300w, http://cdn.thewhoot.com.au/wp-content/uploads/2015/07/How-To-Keep-Avocado-From-Turning-Brown--768x512.jpg 768w, http://cdn.thewhoot.com.au/wp-content/uploads/2015/07/How-To-Keep-Avocado-From-Turning-Brown--900x600.jpg 900w, http://cdn.thewhoot.com.au/wp-content/uploads/2015/07/How-To-Keep-Avocado-From-Turning-Brown--274x183.jpg 274w, http://cdn.thewhoot.com.au/wp-content/uploads/2015/07/How-To-Keep-Avocado-From-Turning-Brown--80x54.jpg 80w, http://cdn.thewhoot.com.au/wp-content/uploads/2015/07/How-To-Keep-Avocado-From-Turning-Brown--130x87.jpg 130w, http://cdn.thewhoot.com.au/wp-content/uploads/2015/07/How-To-Keep-Avocado-From-Turning-Brown--359x240.jpg 359w, http://cdn.thewhoot.com.au/wp-content/uploads/2015/07/How-To-Keep-Avocado-From-Turning-Brown--85x57.jpg 85w, http://cdn.thewhoot.com.au/wp-content/uploads/2015/07/How-To-Keep-Avocado-From-Turning-Brown--266x179.jpg 266w, http://cdn.thewhoot.com.au/wp-content/uploads/2015/07/How-To-Keep-Avocado-From-Turning-Brown--165x109.jpg 165w, http://cdn.thewhoot.com.au/wp-content/uploads/2015/07/How-To-Keep-Avocado-From-Turning-Brown--347x233.jpg 347w, http://cdn.thewhoot.com.au/wp-content/uploads/2015/07/How-To-Keep-Avocado-From-Turning-Brown--112x75.jpg 112w, http://cdn.thewhoot.com.au/wp-content/uploads/2015/07/How-To-Keep-Avocado-From-Turning-Brown--179x120.jpg 179w, http://cdn.thewhoot.com.au/wp-content/uploads/2015/07/How-To-Keep-Avocado-From-Turning-Brown--170x113.jpg 170w, http://cdn.thewhoot.com.au/wp-content/uploads/2015/07/How-To-Keep-Avocado-From-Turning-Brown--81x55.jpg 81w, http://cdn.thewhoot.com.au/wp-content/uploads/2015/07/How-To-Keep-Avocado-From-Turning-Brown--765x510.jpg 765w, http://cdn.thewhoot.com.au/wp-content/uploads/2015/07/How-To-Keep-Avocado-From-Turning-Brown--600x400.jpg 600w, http://cdn.thewhoot.com.au/wp-content/uploads/2015/07/How-To-Keep-Avocado-From-Turning-Brown--550x367.jpg 550w, http://cdn.thewhoot.com.au/wp-content/uploads/2015/07/How-To-Keep-Avocado-From-Turning-Brown--500x333.jpg 500w, http://cdn.thewhoot.com.au/wp-content/uploads/2015/07/How-To-Keep-Avocado-From-Turning-Brown-.jpg 960w" width="546"/>
</a>
<div class="pt-cv-meta-fields">
    <span class="author">
        <a href="{{clickUrl}}" rel="author" target="_blank" title="{{headline}}">
            The WHOot
        </a>
    </span>
    /
    <span class="terms">
        <a class="pt-cv-tax-recipes" href="{{clickUrl}}" target="_blank" title="{{headline}}">
            Recipes
        </a>
    </span>
</div>
<h4 class="pt-cv-title" style="height: 96px;">
    <a class="_blank" href="{{clickUrl}}" target="_blank" title="{{headline}}">
        How To Stop An Avocado From Turning Brown
    </a>
</h4>

